[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit abstract methods / defensive assertion code:
    raise NotImplementedError
    return NotImplemented

    # Don't complain about missing imports, this cannot be tested easily.
    except ImportError

    # Don't complain about empty lines
    pass

    # Don't complain about not triggered test fails. This is used when a test is supposed to throw an exception.
    self.fail

    # Don't complain about value errors
    raise ValueError

    # Don't complain about non-executed warnings
    warnings.warn


omit =
    phi/physics/_boundaries.py
    phi/tf/_tf_cuda_resample.py
    phi/tf/_compile_cuda.py
