[MESSAGES CONTROL]

disable = line-too-long,
          multiple-statements,
          no-self-use,
          no-else-return,
          useless-object-inheritance,
          too-many-arguments,
          unused-argument,  # PyLint does not understand locals()
          import-error,
          comparison-with-callable,  # PyLint does not understand @struct.prop()
          using-constant-test,  # PyLint does not understand @struct.prop()
          trailing-whitespace,

good-names = dt, tf, np, x, y, z