[MESSAGES CONTROL]

disable = import-error,
          missing-class-docstring,
          missing-module-docstring,
          missing-function-docstring,
          unnecessary-lambda,
          no-member,
          undefined-variable,
          bad-whitespace,
          missing-final-newline,
          invalid-name,
          line-too-long,
          no-self-use,
          multiple-statements,
          comparison-with-callable,  # PyLint does not understand @struct.constant()
          using-constant-test,  # PyLint does not understand @struct.constant()
          no-value-for-parameter,  # PyLint does not understand struct items

good-names = dt, tf, np, x, y, z