[MESSAGES CONTROL]

disable = line-too-long,
          import-error,
          missing-class-docstring,
          missing-module-docstring,
          missing-function-docstring,
          unnecessary-lambda,
          no-member,
          undefined-variable,
          wildcard-import,
          unused-wildcard-import,
          duplicate-code,

good-names = dt, tf, np, x, y, z